<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <select class="form-select" aria-placeholder="Default select example" id="deliveryBlock" disabled>
                <option value="" selected>Cancellation Reason</option>
                <option value="No longer needed"> No longer needed </option>
                <option value="Cancelled by buyer"> Cancelled by buyer </option>
                <option value="Change in color"> Change in color </option>
                <option value="Change in Item"> Change in Item </option>
                <option value="Wrong order by customer"> Wrong order by customer </option>
                <option value="Wrong PO reference"> Wrong PO reference </option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal -->