html {
    background: linear-gradient(to bottom, #a9c6de, #e7ecf0);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
body{
    background-color: rgba(255, 235, 205, 0);
}
.header{
    display: flex;
    justify-content: space-between; 
    text-align: center;
}
.header h3 {
    margin-left: -130%;
}
.toggleButton{
    margin-left: .2rem;
    margin-right: -.5rem;
    background-color: transparent;
    border: 0;
}
.iconBtn  img{
    height: 3rem;
    width:  3rem;
    align-items: center;
    display: flex;
}
.iconBtn{
    background-color:#e7ecf0;
    margin: 2rem;
    height: 10rem;
}
form{
    margin: 0rem 1rem 1rem 1rem;
    background-color:#ffff;
    height: 85vh;
}
.cse{
    background-color: #0C7ECF;
}
.cse button{
    margin:1rem 1rem 0rem 1rem;
    border: .5px solid rgba(2, 2, 2, 0.159);
}
form .rDsId{
    margin:1rem 1rem 0rem 1rem;;
}
.rDsId div{
    margin: 1rem 0rem 1rem 0rem;
}
#rDate, #sId {
    margin-left: 3rem;
}
.itemsTable{
    text-align: center;
    width: 80%;
    margin-bottom: 1rem;
    margin-left: 5rem;
}
.itemsTable td{
    padding: 0rem;
    height: 1rem;
}
.itemsTable input  {
    padding: .93rem;
    border: 0;
    width: 100%;
}
.itemsTable textarea {
    border: 0;
    width: 100%;
}
.itemsTable input{
    height: 1px;
}
.itemsTable, th, td  {
    border: 1px solid black;
}
.fsB{
   margin-left: 2em;
   display: flex;
   justify-content: space-around;
}
#eR{
    width: 30vw;
    height: 10vh;
}
#rq{
    margin-left: 3rem;
}
.submit{
    margin:1rem 1rem 0rem 1rem;
    border: .5px solid rgba(2, 2, 2, 0.159);
    width: 15rem;
    margin-left: 44%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .footer > a {
      color: black;
  }

